* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar-sidebar {
    display: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #F7F9FC;
}
.navbar {
    background-color: #fff;
}
.navbar button {
    padding: 0;
    border: none;
}
.navbar button svg {
    margin: 0;
    width: 25px;
    height: 20px;
}
.search-container, .avatar {
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content; 
}

.search-box {
    border-radius: 40px;
    padding: 9px 45px 9px 45px; 
    font-size: 16px;
    background-color: #F5F7FA;
    outline: none;
    width: 100%;
    border: none;
    outline: none;
}

.bi {
    position: absolute;
    left: 20px;
    fill: #718EBF; 
}

.search-box::placeholder {
    color: #8BA3CB;
}
.avatar {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-menu a {
    color: #A3AED0;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    text-decoration: none ;
}
.dropdown-menu a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.exit-button svg {
    margin-right: 15px;
}
.dropdown-menu button:hover {
    background-color: #f1f1f1;
}
.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 40px;
}

.sidebar {
    background-color: #fff;
    width: 300px; 
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    height: 100vh;
}
.sidebar a {
    text-decoration: none;
}
.sidebar-nav {
    flex-grow: 1;
}
.sidebar span {
    color: #A3AED0;
    font-size: 15px;
}
.nav-link {
    position: relative;
    color: #495057;
    padding: 10px 0px;
    text-decoration: none; 
    display: flex; 
    align-items: flex-start;
    border-radius: 4px; 
    padding-left: 40px;
    transition: all 0.3s ease;
}
.nav-link img {
    position: absolute;
    top: 10px; 
    left: 0; 
}
.nav-link:hover {
    background-color: #e9ecef; 
}
.collapsed {
    display: flex;
    align-items: center;
}
.collapsed svg {
    margin-right: 20px;
}
.nav .collapse {
    padding-left: 15px;
}

.nav .collapse .collapse { 
    padding-left: 20px;
}

.nav .collapse .collapse .collapse { 
    padding-left: 25px;
}

.bi {
    font-size: 1.2em; 
    margin-right: 10px; 
}

.bi-building,
.bi-geo-alt-fill,
.bi-diagram-3-fill,
.bi-house-door-fill,
.bi-person-lines-fill {
    display: inline-block;
    vertical-align: middle;
}
.btn-exit {
    background-color: #ffffff; 
    color: #495057;
    border: none; 
    padding: 10px 15px; 
    text-align: left;
    border-radius: 4px;
    width: 100%; 
    box-shadow: none; 
    margin-top: auto;
}
.btn-exit:hover {
    background-color: #e9ecef;
}
.btn-exit img,
.sidebar img {
    margin-right: 8px;
}
@media (max-width: 500px) {
    .search-avatar-container {
        position: static; /* Reset position for mobile view */
        width: 100%; /* Full width in mobile view */
        order: 1; /* Ensure it's placed at the top in mobile layout */
    }
}