@import url(../style/main.css);

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100% - 100px); 
    margin: 0;
    background-color: #F7F9FC;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: transparent;
}

.search-container, .settings, .avatar {
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content; 
}

.search-box {
    border-radius: 40px;
    padding: 12px 45px 12px 45px; 
    font-size: 16px;
    background-color: #F5F7FA;
    outline: none;
    width: 100%;
    border: none;
    outline: none;
}

.bi {
    position: absolute;
    left: 20px;
    fill: #718EBF; 
}

.search-box::placeholder {
    color: #8BA3CB;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: #F5F7FA;
    margin-left: 30px;
}
.settings svg {
    width: 24px;
    height: 24px;
    fill: #718EBF; 
}
.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 30px;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    height: calc(100vh - 100px);
}

.content {
    width: 100%; /* Ensures the content uses all available width in the main */
    height: 100%; /* Fills the height available */
    overflow: auto; /* Enables scrolling within the content if needed */
}

.main-content {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
}
.cards-container {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px; 
    margin-top: 10px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 230px;
    height: 272px;
    text-align: center;
    padding: 60px 15px 15px;
    position: relative;
}

.return-menu-btn {
    width: 220px;
    border: none;
    background-color: #fff;
    color: #5843ed; 
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.card .name {
    font-size: 16px;
    font-weight: bold;
}
  
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #eee;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    margin-top: 60px;
    color: rgb(62,73,115);
}

.location {
    color: rgba(191,199,223,255);
    font-size: 0.9em;
    margin: 0;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10px;
}
.col {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.emp-info-title {
    margin: 0;
    font-size: 12px;
    color: rgba(191,199,223,255);
    margin: 0;
}
.emp-info-content {
    font-size: 15px;
    color: rgb(62,73,115);
    margin: 0;

}
.stats {
    display: grid;
    grid-gap: 20px;
}
.stat {
    width: 220px;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    margin: 0;
}
.stat.first {
    width: 250px;
}
.stat.second {
    width: 300px;
}
.stat.third {
    width: 256px;
}
.stat img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
.stats .label,
.stats .value {
    text-align: left;
    margin: 0; 
}
.stats .label {
    color: rgba(191,199,223,255);
}
.stats .value {
    font-size: 22px;
    color: rgb(62,73,115);
    font-weight: bold;
}
.stat.complaint {
    background: linear-gradient(135deg, rgba(127,128,255,255), rgba(76,39,255,255))
}
.stat.complaint .value,
.stat.complaint .label{
    color: #fff;
}
.photos-holder {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photomaterials-container {
    padding: 20px;
    border-right: 2px solid #eee; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.photomaterials-container h2 {
    margin-bottom: 15px;
    color: rgb(33, 39, 63);
    font-size: 27px;
    font-weight: bold;
}

.photomaterials-container p {
    color: rgba(191,199,223,255);
    margin-bottom: 10px; 
    cursor: pointer; 
    text-decoration: none; 
    margin: 0;
}

.photomaterials-container button {
    background-color: #5843ed;
    color: #fff;
    border: none;
    padding: 13px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease; 
}

.photomaterials-container button:hover {
    background-color: #0056b3;
}

.photos {
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.photos img {
    width: 230px;
    height: auto; 
    border-radius: 17px;
}
