@import url(../style/common.css);

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F7F9FC;
}
.content {
    width: 100%;
    height: 100vh;
}
.main-content {
    display: grid;
    justify-content: center;
    margin-top: 15px;
    grid-gap: 15px;
}
.cards-container {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px; 
    margin-top: 10px;
}
.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    min-width: 260px;
    min-height: 230px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 60px 15px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.return-menu-btn {
    border: none;
    background-color: #fff;
    color: #5843ed; 
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}
  
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #eee;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.card .name {
    margin-top: 50px;
    color: rgb(62,73,115);
    max-width: 300px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.location {
    color: rgba(191,199,223,255);
    font-size: 13px;
    margin: 0;
}
.details {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 17px;
}
.col {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-right: 15px;

}
.emp-info-title {
    margin: 0;
    font-size: 12px;
    color: rgba(191,199,223,255);
}
.emp-info-content {
    font-size: 15px;
    color: rgb(62,73,115);
    margin: 0;
    white-space: normal;   
    max-width: 200px;
}
.emp-info-title.position {
    max-width: 150px;
    width: auto;
}
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.stats-2  {
    display: grid;
    grid-gap: 13px;
}
.stats-2 .stat {
    height: 70px;
}
.stat {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: auto; 
    width: 220px;
}
.stat img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}

.stat .info {
    flex-grow: 1;
    text-align: left;
}

.stat.complaint {
    background: linear-gradient(135deg, rgba(127,128,255,255), rgba(76,39,255,255));
    color: #fff;
}
.stat.second img,
.stat.first img {
    width: 50px;
    height: 50px;
}
.stat.third {
    width: 195px;
}
.stat.third.med-sign {
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.stat img {
    width: 100px;
    height: 50px;
}
.stat .info {
    flex-grow: 1;
}
.stat .info span {
    font-size: 12px;
    color: red;
    font-weight: 600;
    display: block; 
    width: 50%;
}
.label,
.value {
    text-align: left;
    margin: 0; 
}
.label {
    font-size: 12px;
    color: rgba(191,199,223,255);
}
.value {
    font-size: 17px;
    color: rgb(62,73,115);
    font-weight: bold;
}
.stat.complaint {
    background: linear-gradient(135deg, rgba(127,128,255,255), rgba(76,39,255,255))
}
.stat.complaint .value,
.stat.complaint .label{
    color: #fff;
}
.photos-holder {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.photos-holder img {
    width: 200px;
    height: 200px;
}
.photomaterials-container {
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.photomaterials-container h2 {
    margin-bottom: 15px;
    color: rgb(33, 39, 63);
    font-size: 27px;
    font-weight: bold;
}

.photomaterials-container p {
    color: rgba(191,199,223,255);
    margin-bottom: 10px; 
    cursor: pointer; 
    text-decoration: none; 
    margin: 0;
}

.photomaterials-container button {
    background-color: #5843ed;
    color: #fff;
    border: none;
    padding: 13px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease; 
}

.photomaterials-container button:hover {
    background-color: #0056b3;
}

.photos {
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.splide {
    width: 230px;
}
.splide button {
    display: block;
}
.splide button {
    background-color: transparent;
    color: #fff;
}
.splide img {
    width: 220px;
    height: 200px;
    border-radius: 20px;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: auto;
}

.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.popup-content img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
.popup-content img {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

@media (max-width: 992px) {
    .card {
        min-width: 200px;
        min-height: 170px;
    }
    .profile-img {
        width: 80px;
        height: 80px;
    }
    .emp-info-title {
        font-size: 10px;
    }
    .emp-info-content {
        font-size: 12px;  
        max-width: 200px;
    }
    .emp-info-title.position {
        max-width: 150px;
        width: auto;
    }
    .stats {
        margin-left: 2px;
        grid-gap: 10px; 
    }
    .stat {
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        height: 60px; 
        width: 200px;
    }
    .stat.first img,
    .stat.second img {
        width: 40px;
        height: 40px;
    }
    
    .photomaterials-container {
        height: 200px;
        padding: 20px;
        margin-top: 20px;
    }
    .photomaterials-container button {
        padding: 10px 16px;
        font-size: 13px;
    }
    .photomaterials-container h2 {
        font-size: 20px;
    }
    .photos-holder img {
        width: 170px;
        height: 170px;
    }
    .splide li {
        display: flex;
        justify-content: center;
    }
    .splide {
        width: 190px;
    }
    .stat.third {
        width: 185px;
        height: 65px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .navbar-sidebar {
        display: block;
    }
    .return-menu-btn {
        padding: 7px 13px;
        font-size: 14px;
    }
    .row.first {
        display: flex;
        justify-content: center;
    }
    .row.first .stats {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    .photos-holder {
        width: 500px;
    }
    .stats-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 15px;   
    }
    .stat.third {
        width: 165px;
    }
    .stat.third.med-sign .label {
        width: 80px;
    }
    .stat.third.worker-sign img {
        width: 60px;
        height: 35px;
    }
    .stat.third.med-sign .info span {
        display: inline-block; 
        width: 50px; 
        white-space: normal;
        font-size: 10px
    }
    .stat.third .label {
        font-size: 10px;
    }
    .stat.third .value {
        font-size: 15px;
    }
}

@media (max-width: 431px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .return-menu-btn {
        margin-left: 165px;
    }
    .row.first .stats {
        margin-left: 14px;
    }
    .stat {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        height: 60px; 
        width: 180px;
    } 
    .row.first .card {
        width: 300px;
        margin-left: 75px;
    }
    .photos-holder {
        margin-left: 4px;
        width: 400px;
        height: 200px;
    }
    .photos-holder img {
        width: 140px;
        height: 140px;
    }
    .photomaterials-container {
        margin-top: 10px;
    }
    .photomaterials-container p {
        font-size: 13px;
    }
    .photomaterials-container button {
        padding: 9px 14px;
        font-size: 12px;
    }
    .splide {
        width: 170px;
    }
    .stats-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;   
    }
    .stat.third {
        width: 250px;
        margin-left: 85px;
        height: 80px;
    }
    .stat.third.med-sign .info span {
        display: inline-block; 
        width: 80px; 
        white-space: normal;
        font-size: 13px;
    }
    .stat.third .label {
        font-size: 13px;
        margin-right: 22px;
    }
    .stat.third .value {
        font-size: 20px;    
    }
}