@import url(../style/common.css);

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F7F9FC;
}
.table-responsive {
    height: calc(100vh - (header height));
    overflow-y: auto; 
}
.main-content {
    margin: 0;
    padding: 0;
}

.table {
    margin-bottom: 0;
}

.table-search-box {
    background-color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content; 
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px 0 5px 0;
}
.table-search-box input {
    border: none;
}
.table-search-box .filter,
.table-search-box .search-icon {
    margin: 0 10px 0;
}
.table-search-box .word-all,
.table-search-box .down-arrow,
.table-search-box .shortcut-icon {
    margin: 0 10px 0 0;
}
.table-responsive {
    margin-top: 20px;
}

.table {
    margin-bottom: 0; 
}

th, td {
    white-space: nowrap; 
}
.table thead th {
    background-color: transparent;
    border-bottom: 2px solid #dee2e6; 
}

.table td.arrow-column {
    width: 20px;
}
.table .name {
    color: #5843ed;
    font-weight:600;
}

.table .admitted {
    color: green;
    font-weight: bold;
}
.table .not-admitted {
    color: red;
    font-weight: bold;
}
.table .title {
    color: #5A6376
}
.table .title.all {
    color: #5843ed;
}